html {
  margin: 10px;
}
.float-left {
  float:left;
}
.original-data-div {
  max-width: 40%;  
  padding-left: 5px;
  border-style:double;
}
.new-update-div {
  max-width: 50%;
  padding-left: 5px;
  border-style: double;
}
#new-data-input {
  height: 100%;
}
#json-export {
  width: fit-content;
}